#plot_area {
    margin-left: 50px;
}

.points {
    visibility: hidden;
}

.points:hover {
    visibility: visible;
}

#tooltip{
  visibility: visible;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus {
  opacity: 0.7;
}

.focus circle {
  fill: none;
  stroke: black;
}

.focus line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  stroke-dasharray: 3 3;
}
