html{
  font-size: 3px;
  font-family: 'Source Sans Pro Extra-light 200', sans-serif;
  color: black;
  overflow-x: hidden;
  cursor: crosshair;
}

body{
  margin: 0;
}

.title{
  position: fixed;
  padding-left: 20rem;
  width: 65%;
  /* margin-top: 0rem; */
  margin: auto;
  background-color: white;
  z-index: 2;
}

.title h1{
  line-height:22rem;
  font-size: 22rem;
  letter-spacing: 0.8rem;
  font-family: 'Glory';
  font-weight: 400;
  user-select: none;
  font-style: italic;
  text-transform: lowercase;
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.title h6{
  line-height:12rem;
  font-size: 12rem;
  letter-spacing: 0.5rem;
  font-family: 'Glory';
  font-weight: 400;
  user-select: none;
  font-style: none;
  text-transform: lowercase;
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.dig1{
  position: fixed;
  left: 80%;
  top: 23rem;
  line-height: 17rem;
  font-size: 65rem;
  letter-spacing: 0.8rem;
  font-family: 'Glory';
  font-weight: 400;
}

.dig2{
  position: fixed;
  top: 27rem;
  left:91%;
  line-height: 17rem;
  font-size: 75rem;
  letter-spacing: 0.8rem;
  font-family: 'Glory';
  font-weight: 400;
}

.bold{
  font-weight: 400;
  font-style: italic;
}

/* GRAPH SCROLL START */
.description{
  position: relative;
  /* margin-top: 1rem; */
  left: 74%;
  width: 22%;
  top: -55%;
  padding-bottom: 10rem;
}

.description p{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 6rem;
  line-height: 9rem;
  justify-content: space-between;
  text-align: justify;
}

#container2{
  display: inline-flex;
}

#sketch {
  width: 250rem;
  height: 70rem;
  padding-top: 65rem;
  padding-left: 17rem;
  display: inline-flex;
  position: sticky;
  top:4rem;
}

#sections > div{
  /* top: 0rem; */
  /* background: white; */
  /* opacity: .1; */
  /* margin-bottom: 200px; */
}

/* #sections > div:last-child{
  margin-bottom: 30px;
} */

/* #sections > div.graph-scroll-active{
  opacity: 1;
} */
/* GRAPH SCROLL END */
